.css-1q1u3t4-MuiTableRow-root .boldiks,
.css-1howxi1-MuiTableCell-root .boldiks {
  font-weight: bold;
}

.HomePage {
  margin-left: 10%;
  margin-top: 3%;
  width: 80%;
}

.oneLine {
  align-items: end;
  justify-content: center;
  display: flex;
}

.removeButton {
  align-self: center;
  margin-top: 20px;
}
.datePicker {
  width: 215px;
  height: 85px;
}
.textInput {
  width: 180px;
}

.filterNameInput {
  left: 44%;
  position: relative;
}
@media (max-width: 850px) {
  .filterNameInput {
    left: 40%;
    position: relative;
  }
}

@media (max-width: 675px) {
  .filterNameInput {
    left: 35%;
    position: relative;
  }
}
.filter-form {
  margin-top: 50px;
}

.bottomButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

#addRowButton,
#closeButton,
#addFilterPage {
  background-color: black;
}

#removeButton {
  background-color: red;
}
.addRowButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.HomePageButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.aboveOthers {
  border-radius: 10px;
  border-color: rgb(193, 191, 195);
  border-width: 5px;
  border-style: solid;
  background-color: rgb(157, 222, 231);
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 900px; /* Need a specific value to work */
  height: 550px;
  overflow-y: auto;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.aboveOthers .filterNameInput {
  left: 40%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  background-color: white;
}
